# Config file for 'solid-params' program

# Lennard-Jones parameters and atomic charges

$n_atom_types     9

# Ni1
$atom_1_name      Ni1
$atom_1_element   Ni
$atom_1_bonding   1
   O       3.722      4
# Kanhaiya et al. JCTC 19, 8293 (2023) ... data for NiO (CHARMM,AMBER)
$atom_1_lj_sigma  0.187   # nm
$atom_1_lj_eps    1.4644  # kJ/mol
# PBE0/LANL2DZ, MK-UFF
$atom_1_charge    1.014114

# Fe1
$atom_2_name      Fe1
$atom_2_element   Fe
$atom_2_bonding   2
   O       3.867      3
   Fe      5.666      2
# Kanhaiya et al. JCTC 19, 8293 (2023) ... data for a-Fe2O3 (CHARMM,AMBER)
$atom_2_lj_sigma  0.203   # nm
$atom_2_lj_eps    0.8368  # kJ/mol
# PBE0/LANL2DZ, MK-UFF
$atom_2_charge    1.000715

# Fe2
$atom_3_name      Fe2
$atom_3_element   Fe
$atom_3_bonding   2
   O       3.867      6
   Fe      5.666      5
# Kanhaiya et al. JCTC 19, 8293 (2023) ... data for a-Fe2O3 (CHARMM,AMBER)
$atom_3_lj_sigma  0.203   # nm
$atom_3_lj_eps    0.8368  # kJ/mol
# PBE0/LANL2DZ, MK-UFF
$atom_3_charge    1.275991

# Fe3
$atom_4_name      Fe3
$atom_4_element   Fe
$atom_4_bonding   2
   O       3.867      6
   Fe      5.666      6
# Kanhaiya et al. JCTC 19, 8293 (2023) ... data for a-Fe2O3 (CHARMM,AMBER)
$atom_4_lj_sigma  0.203   # nm
$atom_4_lj_eps    0.8368  # kJ/mol
# PBE0/LANL2DZ, MK-UFF
$atom_4_charge    3.035089

# O1
$atom_5_name      O1
$atom_5_element   O
$atom_5_bonding   2
   Fe      3.867      2
   O       5.254      2
# Kanhaiya et al. JCTC 19, 8293 (2023) ... average over a-Fe2O3 and NiO
$atom_5_lj_sigma  0.340   # nm
$atom_5_lj_eps    1.2552  # kJ/mol
# PBE0/LANL2DZ, MK-UFF
$atom_5_charge   -0.648650

# O2
$atom_6_name      O2
$atom_6_element   O
$atom_6_bonding   2
   Fe      3.867      3
   O       5.254      3
# Kanhaiya et al. JCTC 19, 8293 (2023) ... average over a-Fe2O3 and NiO
$atom_6_lj_sigma  0.340   # nm
$atom_6_lj_eps    1.2552  # kJ/mol
# PBE0/LANL2DZ, MK-UFF
$atom_6_charge   -0.548330

# O3
$atom_7_name      O3
$atom_7_element   O
$atom_7_bonding   2
   Ni      3.722      1
   Fe      3.867      1
# Kanhaiya et al. JCTC 19, 8293 (2023) ... average over a-Fe2O3 and NiO
$atom_7_lj_sigma  0.340   # nm
$atom_7_lj_eps    1.2552  # kJ/mol
# PBE0/LANL2DZ, MK-UFF
$atom_7_charge   -0.623027

# O4
$atom_8_name      O4
$atom_8_element   O
$atom_8_bonding   3
   Ni      3.722      1
   Fe      3.867      3
   O       5.254      2
# Kanhaiya et al. JCTC 19, 8293 (2023) ... average over a-Fe2O3 and NiO
$atom_8_lj_sigma  0.340   # nm
$atom_8_lj_eps    1.2552  # kJ/mol
# PBE0/LANL2DZ, MK-UFF
$atom_8_charge   -1.078575

# O5
$atom_9_name      O5
$atom_9_element   O
$atom_9_bonding   3
   Ni      3.722      1
   Fe      3.867      3
   O       5.254      3
# Kanhaiya et al. JCTC 19, 8293 (2023) ... average over a-Fe2O3 and NiO
$atom_9_lj_sigma  0.340   # nm
$atom_9_lj_eps    1.2552  # kJ/mol
# PBE0/LANL2DZ, MK-UFF
$atom_9_charge   -0.992677

# Bonding parameters

$n_bond_types     19

# Ni1-O3
$bond_1_atom_1    Ni1
$bond_1_atom_2    O3
$bond_1_type      harmonic
$bond_1_params    2
  0.196598  250000.0
# Ni1-O4
$bond_2_atom_1    Ni1
$bond_2_atom_2    O4
$bond_2_type      harmonic
$bond_2_params    2
  0.196598  250000.0
# Ni1-O5
$bond_3_atom_1    Ni1
$bond_3_atom_2    O5
$bond_3_type      harmonic
$bond_3_params    2
  0.196598  250000.0

# Fe1-Fe1
$bond_4_atom_1    Fe1
$bond_4_atom_2    Fe1
$bond_4_type      harmonic
$bond_4_params    2
  0.299832  250000.0
# Fe1-Fe2
$bond_5_atom_1    Fe1
$bond_5_atom_2    Fe2
$bond_5_type      harmonic
$bond_5_params    2
  0.299832  250000.0
# Fe2-Fe2
$bond_6_atom_1    Fe2
$bond_6_atom_2    Fe2
$bond_6_type      harmonic
$bond_6_params    2
  0.299832  250000.0
# Fe2-Fe3
$bond_7_atom_1    Fe2
$bond_7_atom_2    Fe3
$bond_7_type      harmonic
$bond_7_params    2
  0.299832  250000.0

# Fe1-O1
$bond_8_atom_1    Fe1
$bond_8_atom_2    O1
$bond_8_type      harmonic
$bond_8_params    2
  0.204633  250000.0
# Fe1-O3
$bond_9_atom_1    Fe1
$bond_9_atom_2    O3
$bond_9_type      harmonic
$bond_9_params    2
  0.204633  250000.0
# Fe1-O4
$bond_10_atom_1   Fe1
$bond_10_atom_2   O4
$bond_10_type     harmonic
$bond_10_params   2
  0.204633  250000.0
# Fe2-O1
$bond_11_atom_1   Fe2
$bond_11_atom_2   O1
$bond_11_type     harmonic
$bond_11_params   2
  0.204633  250000.0
# Fe2-O2
$bond_12_atom_1   Fe2
$bond_12_atom_2   O2
$bond_12_type     harmonic
$bond_12_params   2
  0.204633  250000.0
# Fe2-O4
$bond_13_atom_1   Fe2
$bond_13_atom_2   O4
$bond_13_type     harmonic
$bond_13_params   2
  0.204633  250000.0
# Fe2-O5
$bond_14_atom_1   Fe2
$bond_14_atom_2   O5
$bond_14_type     harmonic
$bond_14_params   2
  0.204633  250000.0
# Fe3-O5
$bond_15_atom_1   Fe3
$bond_15_atom_2   O5
$bond_15_type     harmonic
$bond_15_params   2
  0.204633  250000.0

# O1-O1
$bond_16_atom_1   O1
$bond_16_atom_2   O1
$bond_16_type     harmonic
$bond_16_params   2
  0.278030  250000.0
# O1-O4
$bond_17_atom_1   O1
$bond_17_atom_2   O4
$bond_17_type     harmonic
$bond_17_params   2
  0.278030  250000.0
# O2-O5
$bond_18_atom_1   O2
$bond_18_atom_2   O5
$bond_18_type     harmonic
$bond_18_params   2
  0.278030  250000.0
# O5-O5
$bond_19_atom_1   O5
$bond_19_atom_2   O5
$bond_19_type     harmonic
$bond_19_params   2
  0.278030  250000.0

